<div class="container">
  <div>
    <mat-card class="task-card">
      <ng-container *ngIf="currentTask; else gameOver">
        <p>Выберите букву</p>
        <p><strong>{{ currentTask?.translit }}</strong></p>
        <p *ngIf="timer!==0"> {{ formattedTime() }} </p>
      </ng-container>
    </mat-card>

    <!-- Таблица букв -->
    <div class="letters-container">
      <mat-card
        *ngFor="let letter of shuffledLetters"
        class="letter-card"
        [ngClass]="{
        'letter-printed': letter.type === 'printed',
        'letter-cursive': letter.type === 'cursive'
      }"
        (click)="selectLetter(letter)">
        <span>{{ letter.letter }}</span>
      </mat-card>
    </div>
  </div>
  <!-- Конец игры -->
  <ng-template #gameOver>
    <div class="game-over">
      <p>Игра окончена! Все буквы найдены.</p>
      <p>Время игры: <strong>{{ formattedTime() }} </strong></p>
      <div *ngIf="errors.length > 0">
        <h3>{{ errors.length }} ошибк{{ errors.length > 1 ? "и" : "а" }}:</h3>
        <ul>
          <li class="error-item" *ngFor="let error of errors">
            <span [ngClass]="{
        'letter-printed': error.type === 'printed',
        'letter-cursive': error.type === 'cursive'
      }">{{ error.letter }}</span>
            <span> ({{ error.translit }})</span>
          </li>
        </ul>
      </div>
      <button mat-raised-button color="primary" (click)="restartGame()">Начать заново</button>
    </div>
  </ng-template>
</div>
