<div
  style="height: 90%;display: flex;flex-direction: column;flex-wrap: nowrap;justify-content: flex-start;overflow-y: auto;">
  <mat-list *ngIf="!curAudio">
    <mat-list-item  *ngFor="let audio of audios" style="display: contents;">
      <div class="lessonButton" (click)="loadAudio(audio, audio.url)">
        <span style="margin-left: 10px;">{{ audio.title }}</span>
      </div>
    </mat-list-item>
  </mat-list>

  <div *ngIf="curAudio" style="text-align: center">
    <div style="display: flex; flex-direction: row; align-items: center;">
      <button mat-icon-button class="back-button" (click)="onCloseAudio()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h2 style="margin: 0 auto;">{{ curAudio.title }}</h2>
    </div>
    <app-table-data></app-table-data>
  </div>

  <div class="audio-container" *ngIf="currentAudioUrl" style="margin-bottom: 1rem;">
    <audio [style.display]="'none'" class="audio-controller" #audioPlayer controls style="width: 100%;"
           (play)="onPlay(audioPlayer)" (pause)="onPause(audioPlayer)" (timeupdate)="onTimeUpdate(audioPlayer)"
           (ended)="onEnded(audioPlayer)" [attr.autoplay]="isAutoplayModeOn ? true : null">
      <source [src]="currentAudioUrl" type="audio/mp3"/>
      Ваш браузер не поддерживает аудио.
    </audio>
    <div class="audio-controls" style="width: 90%; display: flex; flex-wrap: nowrap;justify-content: space-between">
      <button
        class="play-button"
        mat-icon-button
        (click)="togglePlayPause()"
        [ngClass]="{ 'play-state': isPlaying }">
        <mat-icon>{{ isPlaying ? 'pause' : 'play_arrow' }}</mat-icon>
      </button>
      <button
        class="mute-button"
        mat-icon-button
        (click)="toggleMute()"
        [ngClass]="{ 'mute-state': isMuted }">
        <mat-icon>{{ isMuted ? 'volume_off' : 'volume_up' }}</mat-icon>
      </button>
      <div class="time-display" style="display: flex;font-size: smaller; align-items: center">
        <span>{{ formatTime(currentTime) }} / {{ formatTime(audioDuration) }}</span>
      </div>
      <input
        type="range"
        min="0"
        [max]="audioDuration"
        [value]="currentTime"
        (input)="onSeek($event)"
        class="progress-bar"
      />
      <!--      <button mat-icon-button class="close-button" (click)="onCloseAudio()">-->
      <!--        <mat-icon>close</mat-icon>-->
      <!--      </button>-->
    </div>
  </div>
</div>




