
.main {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

mat-paginator {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.audio-container {
  display: flex;
  width: 100vw;
  position: fixed;
  bottom: 90px;
  left: 0;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.audio-controller {
  width: 70vw!important;
}
