.mat-drawer-container {
  position: absolute;
  top: 55px;
  left: 0;

}
.sidenav-container{
  background: linear-gradient(45deg, black, transparent);
}
.mat-drawer{
  width: 60%;
  background-color: #eae2f7;
}

.mdc-list {
  padding: 8px 0;
}

:host::ng-deep.mat-drawer-backdrop{
  display: none;
}

::ng-deep.mdc-checkbox__background {
  background-color: #663ab6 !important; /* Цвет фона для выбранного состояния */
}

::ng-deep .mdc-checkbox__background {
  border: 2px solid rgba(200, 25, 185, 0.87) !important; /* Цвет рамки для невыбранного состояния */
}

:host::ng-deep.mdc-checkbox__checkmark {
  color: white !important; /* Цвет галочки */
}
