::ng-deep .mat-mdc-tab-body-wrapper{
  height: 100%!important;
}

::-webkit-scrollbar {
  display: none!important;
}

/*::ng-deep .mat-mdc-tab-list {*/
/*  overflow-x: auto!important;*/
/*  transform: unset!important;*/
/*}*/

::ng-deep ::-webkit-scrollbar {
  display: none!important;
}

