:host::ng-deep.mat-mdc-tab-body-wrapper {
  height: 100% !important;
  width: 100% !important;
  margin-left: 17px;
}

:host::ng-deep.mat-mdc-tab-label-container {
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

:host::ng-deep::-webkit-scrollbar {
  height: 0;
}

:host::ng-deep.mat-mdc-tab-group{
  align-items: center;
}
:host::ng-deep.mat-mdc-tab-header{
  max-width: 90vw;
}

