<div style="height: 100%">
  <mat-tab-group #tabGroup style="height: 100%; width: 90vw;" (selectedTabChange)="onTabChange($event)"
                 [tabIndex]="curPart" [disablePagination]="true">
    <mat-tab label="Настоящее">
      <app-tab-body (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)"
                    (touchend)="onTouchEnd()"></app-tab-body>
    </mat-tab>
    <mat-tab label="Прошедшее">
      <app-tab-body (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)"
                    (touchend)="onTouchEnd()"></app-tab-body>
    </mat-tab>
    <mat-tab label="Будущее">
      <app-tab-body (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)"
                    (touchend)="onTouchEnd()"></app-tab-body>
    </mat-tab>
    <mat-tab label="Алфавит">
      <app-hebrew-alphabet (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)"
                           (touchend)="onTouchEnd()"></app-hebrew-alphabet>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="arrow" *ngIf="showArrow" [ngStyle]="{'left': arrowPositionX + 'px'}">
  <mat-icon>arrow_{{ arrowType }}</mat-icon>
</div>
