/* You can add global styles to this file, and also import other style files */
/* Подключаем стили для Angular Material */

/*html, body { height: 100%; }*/
/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  overflow: hidden;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

#app {
  position: absolute;
  top: env(safe-area-inset-top);
  left: env(safe-area-inset-left);
  bottom: env(safe-area-inset-bottom);
  right: env(safe-area-inset-right);
}

@font-face {
  font-family: 'CustomFont';
  src: url('assets/fonts/ComixNo2CLM-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CustomFont';
  src: url('assets/fonts/KtavYadCLM-MediumItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}



