<div class="background">


  <div class="modal-container">
    <h3 class="modal-title">Смена пароля</h3>
    <form (ngSubmit)="onSave()">
      <mat-form-field class="full-width">
        <input matInput placeholder="Новый пароль" [(ngModel)]="newPassword" name="newPassword" required
               type="password"/>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Подтверждение пароля" [(ngModel)]="confirmPassword" name="confirmPassword" required
               type="password"/>
      </mat-form-field>

      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

      <div class="modal-actions">
        <button *ngIf="!passwordRequired" mat-button (click)="onCancel()">Отмена</button>
        <button mat-button color="primary" type="submit">Сохранить</button>
      </div>
    </form>
  </div>
</div>

