<div class="auth-container">
  <h2>{{ isLoginMode ? 'Авторизация' : 'Регистрация' }}</h2>
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Логин (Email)</label>
      <input id="email" formControlName="email" type="email" />
      <small *ngIf="authForm.get('email')?.invalid && authForm.get('email')?.touched">
        Пожалуйста введите верный email.
      </small>
    </div>

    <div class="form-group">

      <div *ngIf="!isLoginMode" class="form-group">
        <label for="firstName">Имя</label>
        <input id="firstName" formControlName="firstName" type="text" />
        <small *ngIf="authForm.get('firstName')?.invalid && authForm.get('firstName')?.touched">
          Поле "Имя" обязательно для заполнения.
        </small>
      </div>

      <div *ngIf="!isLoginMode" class="form-group">
        <label for="lastName">Фамилия</label>
        <input id="lastName" formControlName="lastName" type="text" />
        <small *ngIf="authForm.get('lastName')?.invalid && authForm.get('lastName')?.touched">
          Поле "Фамилия" обязательно для заполнения.
        </small>
      </div>

      <label for="password">Пароль</label>
      <input id="password" formControlName="password" type="password" />
      <small *ngIf="authForm.get('password')?.invalid && authForm.get('password')?.touched">
        Пароль должен содержать как минимум {{ authForm.get('password')?.errors?.['minlength'].requiredLength }} символов.
      </small>
      <small *ngIf="errorMessage">
        {{ errorMessage }}
      </small>
    </div>

    <div *ngIf="!isLoginMode" class="form-group">
      <label for="confirmPassword">Подтверждение пароля</label>
      <input id="confirmPassword" formControlName="confirmPassword" type="password" />
      <small *ngIf="authForm.get('confirmPassword')?.invalid && authForm.get('confirmPassword')?.touched">
        Поле "Пароль" обязательно для заполнения.
      </small>
    </div>

    <button type="submit" [disabled]="authForm.invalid">
      {{ isLoginMode ? 'Авторизация' : 'Регистрация' }}
    </button>
    <button type="button" class="switch-mode" (click)="switchMode()">
      Переход к {{ isLoginMode ? 'Регистрации' : 'Авторизации' }}
    </button>
  </form>
</div>
