<table mat-table [dataSource]="dataSource">
  <!-- Hebrew Column -->
  <ng-container matColumnDef="hebrew">
    <th mat-header-cell *matHeaderCellDef> Hebrew </th>
    <td mat-cell *matCellDef="let element"> {{element.hebrew}} </td>
  </ng-container>

  <!-- Translation Column -->
  <ng-container matColumnDef="translation">
    <th mat-header-cell *matHeaderCellDef> Translation </th>
    <td mat-cell *matCellDef="let element"> {{element.translation}} </td>
  </ng-container>

  <!-- Transcription Column -->
  <ng-container matColumnDef="transcription">
    <th mat-header-cell *matHeaderCellDef> Transcription </th>
    <td mat-cell *matCellDef="let element"> {{element.transcription}} </td>
  </ng-container>

  <!-- Header and Row -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
